<div class="container">
  <div class="d-flex justify-content-center row">
    <div class="col">
      <h1 class="headprm">Create your Account</h1>
    </div>
  </div>

  <%= render 'form', eos_account: @eos_account %>
</div>

<%= link_to 'BACK', eos_accounts_path, class: "btn btn-secondary" %>
