<div class="container">

  <span id="notice"><%= notice %></span>

  <div class="row">
    <div class="col">
      <h1 class="headprm">EOS Tribe EasyAccount</h1>
    </div>
    <p id="pprm">The Building Blocks of a Decentralized Future</span>
  </div>
  <br />

  <div class="row">
    <%= link_to 'CREATE ACCOUNT', new_eos_account_path, id: "btnprim", class: "badge badge-pill badge-primary" %>
    <br />
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <p>
        EOS is a proof-of-stake, smart contract blockchain that provides scalability for decentralized applications. As new EOS accounts require stake (in the form of the native token, EOS) in order to be created, <a href="http://eostribe.io">EOS Tribe</a> is generously offering to provide basic stake for members of the public to obtain their own EOS account through this product, EOS EasyAccount.
      </p>
    </div>
  </div>

</div>
