<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congradulations on creating your EOS account.</h1>
    <p>
      You have successfully signed up for and eos account,
      your username is: <%= @eos_account.username %><br>
      your pubic key is: <%= @eos_account.pubkey %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
